@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 110px 45% 35%;
  gap: 15px;
  grid-template-areas:
    "header header header"
    "bad bad space"
    "religion religion religion";
  background-color: #dde1d4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
  color: #dde1d4;
  grid-area: header;
  background-color: black;
}

.bad {
  grid-area: bad;
  display: flex;
  align-items: flex-end;
}

.space {
  grid-area: space;
}

div {
  background-color: #f14112;
}

.religion {
  grid-area: religion;
}

h2 {
  font-size: 200px;
  font-weight: 600;
}

.religion div {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: #dde1d4;
  margin-left: 10px;
  margin-top: 20px;
}
